body {
    background-color: #333;
    color: white;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
    margin: 0;
}

/* links and letter list highlight */
a,
a:link,
a:visited {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

a:active,
a:hover {
    color: white !important;
    background-color: rgba(255, 255, 0, 0.5);
}

/* all other text */
p,
ul,
ol {
    font-size: 1em;
    line-height: 1.3em;
    margin-bottom: 0.5em;
}

ul {
    list-style-type: square;
}

h2 {
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 1em;
}

li:first-letter {
    text-transform: capitalize;
}

li {
    margin-bottom: 0.5em;
}

#content {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}

#navh {
    font-size: 2.5em;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 1em;
    text-align: center;
}

#footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 50px;
    margin-top: -50px;
    opacity: 1;
    display: inline-block;
    border-top: 1px solid white;
    background-color: #333;
}

/* recipe.html elements */
.recipe-description {
    text-transform: lowercase;
}

.recipe-description:first-letter {
    text-transform: uppercase;
}

.recipe-title {
    text-transform: uppercase;
}

/* home.html elements */
.home-list {
    margin-bottom: 1em;
}

.home-description:first-letter {
    text-transform: uppercase;
}