<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title | upper }}</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="content">
        <h1 id="navh"><a href="/eleventy-recipes">RECIPE BOOK</a></h1>
        <br>
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        <a href="https://github.com/charlieb954/eleventy-recipes">GitHub source code</a>
    </div>
</body>

</html>