<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div style="width:80%; margin:0 auto;">
        <h1><a href="/eleventy-recipes">RECIPE BOOK</a></h1>
        <br>
        {% block content %}{% endblock %}
    </div>
</body>

</html>