body {
    background-color: #333;
    color: white;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
    margin: 0;
}

h1 {
    font-size: 2.5em;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 1em;
    text-align: center;
}

/* links and letter list highlight */
a,
a:link,
a:visited {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

a:active,
a:hover {
    color: white !important;
    background-color: rgba(255, 255, 0, 0.5);
}

/* all other text */
p,
ul,
ol {
    font-size: 1em;
    line-height: 1.3em;
}


h2 {
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;

    margin-bottom: 0.6em;
}